################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/StockMaster/StockMaster/obj
/StockMaster/StockMaster/bin
/StockMaster/.vs
/.vs
