################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/StockMaster/StockMaster/obj/Debug
/StockMaster/.vs
/StockMAster/StockMaster/bin

/StockMaster/StockMaster/bin/Debug
